@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

@source "./**/*.{js,jsx,ts,tsx}";

/* NOTE: Fix for unsupported `@media (hover:hover)` media queries: it's possible to happen on a touch-able laptop screens. */
/* stylelint-disable-next-line scss/at-rule-no-unknown, at-rule-no-unknown */
/* @custom-variant hover (&:hover); */

:root {
  /* Define colors */

  --paperColor: #fff;
  --primaryColor: #48f;
  --secondaryColor: #fb1;
  --appDestructiveColor: #f55;
  --formSize: 2.5em;

  --bgLightColor: #4ab;
  --bgDarkColor: #114;
  --cardBgColor: #19a;

  --noLightColor: #7ce;
  --noDarkColor: #289;

  --backgroundColor: var(--cardBgColor);
  --textColor: #fff;

  --toastify-color-info: #2b7fff;
  --toastify-color-warning: #fe9a00;

  --white-RGB: 255 255 255;
  --black-RGB: 0 0 0;

  --cardWidth: 18em;
  --cardHeight: 14em;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Set adaptive font size */
  font-size: max(15px, 1.2vw);

  color-scheme: light dark;
  color: var(--textColor);
  /* background-color: var(--backgroundColor); */
  /* background: linear-gradient(135deg, var(--bgLightColor), var(--bgDarkColor)); */
  background: var(--color-sky-600);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* align-content: space-around; */
  justify-content: center;
  flex: 1;
  /* Clipped layout */
  overflow: hidden;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-around;
}

/* Tailwind forms
 * @see https://v1.tailwindcss.com/components/forms
 */
.input {
  @apply appearance-none rounded border px-3 py-1 leading-tight shadow;
  height: var(--formSize);
}
.input.inactive,
.input.disabled {
  @apply pointer-events-none;
}
.input.disabled {
  @apply opacity-50;
}

.input-primary {
  @apply border border-blue-500 ring-(--primaryColor) focus:ring focus:outline-none;
}

/* Tailwind buttons
 * @see https://v1.tailwindcss.com/components/buttons
 */
.btn,
.btn-base {
  /* all: unset; */
  /* outline: 0; */
  @apply box-border appearance-none items-center gap-2 truncate rounded transition-all;
  height: var(--formSize);
}
.btn-large {
  @apply flex cursor-pointer items-center justify-center p-6 font-bold select-none;
}
.btn {
  @apply px-2 py-1;
}
.btn-sm-text {
  /* Button collapses to icon-only button (hides nested span) on sm widths */
  @apply sm:px-4 [&>span]:hidden [&>span]:sm:block;
}
.btn-text {
  @apply px-4;
}
.btn.inactive,
.btn.disabled {
  @apply pointer-events-none;
}
.btn.disabled {
  @apply opacity-50;
}
.btn:not(.inactive):not(.disabled) {
  @apply cursor-pointer;
}
.btn-icon {
  @apply justify-center px-1;
  min-width: var(--formSize); /* Try to make it square */
}
.btn-plain:hover {
  @apply bg-blue-400/20;
}
.btn-framed {
  @apply border border-blue-500;
}
.btn-framed:hover {
  @apply bg-blue-400/20;
}
.btn-primary {
  @apply bg-(--primaryColor);
}
.btn-primary:hover {
  @apply bg-(--primaryColor)/80;
}
.btn-blue {
  @apply bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-400;
}

/* UNUSED: Themes support
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

.Toastify__toast {
  padding-right: 20px;
  -webkit-user-select: none;
  user-select: none;
}

@layer utilities {
  .disabled {
    @apply pointer-events-none cursor-default opacity-30;
  }
  .content-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .card-content p {
    @apply shrink-0;
    margin: 0.5em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.4;
  }
  .card-content p.strong {
    @apply font-bold;
  }
  .card-content p.subtle {
    @apply font-light opacity-70;
  }

  /* Scrollbar support */
  .scrollbar-brand {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--white-RGB) / 20%) rgba(var(--black-RGB) / 0%);
    @apply transition;
  }
  .scrollbar-brand::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /*
  .scrollbar-brand::-webkit-scrollbar-thumb {
    background: #0f172a;
    border-radius: 9999px;
  }
  .scrollbar-brand::-webkit-scrollbar-track {
    background: #e2e8f0;
  }
  */
}

@theme {
  --breakpoint-xs: 24rem; /* Creates a new xs: variant */

  --animate-scale-pulse-sm: scale-pulse-sm 0.3s ease-in;
  @keyframes scale-pulse-sm {
    0%. 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  --animate-scale-pulse: scale-pulse 0.3s ease-in;
  @keyframes scale-pulse {
    0%. 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}
